.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

    background-color: hsla(0, 0, 87, 0.8);
}

.container h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.7rem;
    color: var(--black);
}

.form{
    display: flex;
    flex-direction:column;
    margin: 1rem 0;
}

.form h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1rem;
}

.input{
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1;
    padding: 1rem;
    height: 40px;
    -webkit-text-fill-color: var(--black);
    border-radius: 0.3rem;
    background-color: var(#FFF);
    border: 1px solid var(--grey);
    margin-bottom: 1rem;
}

.checkbox{
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inputCurto{
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1;
    padding: 1rem;
    height: 40px;
    width: 100px;
    -webkit-text-fill-color: var(--black);
    border-radius: 0.3rem;
    background-color: var(#FFF);
    border: 1px solid var(--grey);
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.buttonAdd{
    height: 40px;
    border: 0;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.2rem;
    border: 1px solid var(--grey);
    border-radius: 0.3rem;
}